<main class="container">
  <div class="jumbotron">
    <p>指定したユーザのツイートした画像とリツイートした画像の一覧を表示します。</p>
    <form action="/twitterid" method="get">
      <div class="input-group row no-gutters">
        <div class="col-3">
          <input type="text" class="form-control" placeholder="TwitterID" name="twitterid" autocomplete="off">
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-dark"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</main>