<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>tcolle-Twitter画像コレクション</title>
  </head>
  <body>
    <h2>tcolle-Twitter画像コレクション</h2>
    <%= yield %>
  </body>
</html>