html,
body{
  height: 100%;
  background-color: #333;
}

.img-trim {
    width: 100%;
    object-fit: cover;
}

.no-gutters {
    margin:0;
    padding:0;
}
   
.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
    margin:0;
    padding:0;
}